@font-face {
    font-family: 'devicon';
    src:
            url('fonts/devicon.ttf?mr3h80') format('truetype'),
            url('fonts/devicon.woff?mr3h80') format('woff'),
            url('fonts/devicon.svg?mr3h80#devicon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.i-info-icon{
    font-family: 'devicon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: middle;
}

.i-info-icon-vip:before {
    content: "\a900";
}
.i-info-icon-eglass-shop:before {
    content: "\a901";
}